# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# exploration notebook
notebooks/10_exploration.ipynb

# Jupyter
.ipynb_checkpoints/

# Data files except final_dfs/df_final.parquet
*.csv
*.xlsx
*.parquet
!data/final_dfs/df_final.parquet
